# DataRoot University DS100 Test #3
На проходження тесту виділяється 121 хвилина.

## SQL

##### Відповідь до кожного завдання у цьому розділі записувати в наступну пусту строку в форматі sql запиту

### Коротка інформація про базу даних "Комп'ютерна фірма":
```
Схема БД складається з чотирьох таблиць:
- Product (maker, model, type)
- PC (code, model, speed, ram, hd, cd, price)
- Laptop (code, model, speed, ram, hd, price, screen)
- Printer (code, model, color, type, price)
```
Таблиця Product представляє виробника (maker), номер моделі (model) і тип ('PC' - ПК, 'Laptop' - ПК-блокнот або 'Printer' - принтер). Передбачається, що номери моделей в таблиці Product унікальні для всіх виробників і типів продуктів.

У таблиці PC для кожного ПК, який однозначно визначається унікальним кодом - code, вказані модель - model (зовнішній ключ до таблиці Product), швидкість - speed (процесора в мегагерцах), обсяг пам'яті - ram (в мегабайтах), розмір диска - hd (в гігабайтах), швидкість пристрою, що зчитує - cd (наприклад, '4x') і ціна - price.

Таблиця Laptop аналогічна таблиці РС за винятком того, що замість швидкості CD містить розмір екрану - screen (в дюймах).

У таблиці Printer для кожної моделі принтера вказується, чи є він кольоровим - color ( 'y', якщо кольоровий), тип принтера - type (лазерний - 'Laser', струменевий - 'Jet' або матричний - 'Matrix') і ціна - price.

**Дамп**: **[computer_pg_script.sql](https://github.com/dataroot/DRU-DS100-w3/tree/master/tests/3/v1/computer_pg_script.sql)**.

### 1. Знайдіть номер моделі, швидкість і розмір жорсткого диску для всіх ПК вартістю менше 500 дол. Вивести: model, speed і hd.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
select model, speed, hd from PC where price < 500;

### 2.  Знайдіть виробників принтерів. Вивести: maker.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT maker
FROM printer join product on printer.model = product.model;

### 3. Знайдіть номер моделі, об'єм пам'яті і розміри екранів ПК-блокнотів, ціна яких перевищує 1000 дол.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT model, ram, screen
FROM laptop
where price > 1000;

### 4. Знайдіть всі записи таблиці Printer для кольорових принтерів.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT *
FROM printer
where color like 'y';

### 5. Знайдіть номер моделі, швидкість і розмір жорсткого диску ПК, що мають 12x або 24x CD і ціну менше, ніж 600 дол.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
* [Предикати (ч.1)](http://www.sql-tutorial.ru/ru/book_predicates_1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT model, speed, hd
FROM pc
WHERE cd in ('12x', '24x') and price < 600;

### 6. Для кожного виробника, що випускає ПК-блокноти з об'ємом жорсткого диску не менше 10 Гбайт, знайти швидкості таких ПК-блокнотів. Вивід: виробник, швидкість.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
SELECT p.maker, l.speed
FROM product p join laptop l on p.model = l.model
  WHERE l.hd >= 10
ORDER BY p.maker;

### 7. Знайдіть номери моделей і ціни всіх наявних у продажі продуктів (будь-якого типу) виробника B (латинська буква).
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
SELECT p.model, l.price
FROM product p JOIN laptop l on p.model = l.model
WHERE p.maker like 'B'
UNION
SELECT p.model, pc.price
FROM product p inner JOIN pc on p.model = pc.model
WHERE p.maker like 'B';

### 8. Знайдіть виробника, що випускає ПК, але не ПК-блокноти.
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
SELECT DISTINCT maker
FROM product
WHERE type like 'PC';

### 9. Знайдіть виробників ПК з процесором не менше 450 Мгц. Вивести: Maker.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT DISTINCT maker
FROM product NATURAL join pc
where speed >=450;

### 10. Знайдіть моделі принтерів, що мають найвищу ціну. Вивести: model, price.
```
```
Довідка по темі:
* [Підзапити](http://www.sql-tutorial.ru/ru/book_subqueries.html)
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бали
Рекомендований час: 3хв
```

In [ ]:
SELECT *
FROM printer
WHERE price = (SELECT max(price)
               FROM printer)
ORDER BY price DESC;

### 11. Знайдіть середню швидкість ПК.
```
```
Довідка по темі:
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT round(avg(speed))
FROM pc;

### 12. Знайдіть середню швидкість ПК-блокнотів, ціна яких перевищує 1000 дол.
```
```
Довідка по темі:
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT round(avg(speed))
FROM laptop
WHERE price > 1000;

### 13. Знайдіть середню швидкість ПК, випущених виробником A.
```
```
Довідка по темі:
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT round(avg(speed))
FROM pc JOIN product on pc.model = product.model
WHERE maker like 'A';

### 14. Знайти виробників, які випускають більше однієї моделі, при цьому всі випущені виробником моделі є продуктами одного типу. Вивести: maker, type.
```
```
Довідка по темі:
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 9хв
```

In [ ]:
SELECT maker, type from
(SELECT
  maker,
  type,
  count(model) AS cnt
FROM product
GROUP BY maker, type
HAVING count(model) > 1
ORDER BY maker) as q_count;

### 15. Знайдіть розміри жорстких дисків, які співпадають у двох і більше PC. Вивести: HD.
```
```
Довідка по темі:
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
select hd FROM
(SELECT hd, count(hd)
FROM pc
GROUP BY hd, model
HAVING count(hd) >= 2) as q_count;

### 16. Знайдіть пари моделей PC, що мають однакові швидкість і RAM. В результаті кожна пара вказується тільки один раз, тобто (i, j), але не (j, i), Порядок виведення: модель з більшим номером, модель з меншим номером, швидкість і RAM.
```
```
Довідка по темі:
* [Використання в запиті декількох джерел записів](http://www.sql-tutorial.ru/ru/book_using_multiple_tables_in_query.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
SELECT
  pc1.model,
  pc2.model,
  pc1.ram,
  pc1.speed
FROM pc pc1
  JOIN pc pc2 ON (pc1.speed = pc2.speed AND pc1.ram = pc2.ram AND pc1.model <> pc2.model)
ORDER BY pc1.model asc, pc2.model DESC;

### 17. Знайдіть моделі ПК-блокнотів, швидкість яких менше швидкості будь-якого з ПК. Вивести: type, model, speed.
```
```
Довідка по темі:
* [Використання в запиті декількох джерел записів](http://www.sql-tutorial.ru/ru/book_using_multiple_tables_in_query.html)
* [Використання ключових слів SOME (ANY) і ALL з предикатами порівняння](http://www.sql-tutorial.ru/ru/book_using_any_all_keywords_with_comparison_predicates.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
SELECT
  l.model,
  l.speed, p.type
FROM laptop l NATURAL JOIN product p
WHERE speed < all (SELECT speed
               FROM pc);

### 18. Знайдіть виробників найдешевших кольорових принтерів. Вивести: maker, price.
```
```
Довідка по темі:
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
* [Підзапити](http://www.sql-tutorial.ru/ru/book_subqueries.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
SELECT maker, price
FROM printer JOIN product on printer.model = product.model
WHERE color LIKE 'y';

### 19. Для кожного виробника, що має моделі в таблиці Laptop, знайдіть середній розмір екрану ПК-блокнотів, які випускаються кожним з таких виробників. Вивести: maker, середній розмір екрану.
```
```
Довідка по темі:
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бали
Рекомендований час: 3хв
```

In [ ]:
SELECT maker, avg(screen) as average_screen
FROM product NATURAL join laptop
GROUP BY maker;

### 20. Знайти округлене до сотих часток середнє арифметичне наступних цін:
1. Ціна найдешевших Laptop-ів від виробників РС з найнижчою швидкістю CD;
2. Ціна найдорожчих РС від виробників найдешевших принтерів;
3. Ціна найдорожчих принтерів від виробників Laptop-ів з найбільшим обсягом пам'яті.
Зауваження: При розрахунку середнього відсутні ціни не враховувати.


  · Довідка по темі:
     Явні операції з'єднання
     предикат IN
     Отримання підсумкових значень
     підзапити
     Використання ключових слів ANY, ALL з предикатами порівняння
```
```
Довідка по темі:
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Предикат IN](http://www.sql-tutorial.ru/ru/book_predicate_in.html)
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
* [Підзапити](http://www.sql-tutorial.ru/ru/book_subqueries.html)
* [Використання ключових слів SOME (ANY) і ALL з предикатами порівняння](http://www.sql-tutorial.ru/ru/book_using_any_all_keywords_with_comparison_predicates.html)
```
```
```
```
```
```
```
Максимальна оцінка: 5 балів
Рекомендований час: 15хв
```

In [ ]:
#1
SELECT round(avg(price), 2)
FROM laptop
  NATURAL JOIN product
WHERE price = (SELECT min(price)
               FROM laptop) AND maker IN (SELECT maker
                                          FROM product
                                            NATURAL JOIN pc
                                          WHERE cast(left(cd, 2) AS INT) = (SELECT min(cast(left(cd, 2) AS INT))
                                                                            FROM pc));

#2
SELECT
  round(avg(price), 2)
FROM pc
  NATURAL JOIN product
WHERE price =
      (SELECT max(price)
       FROM pc) AND
      maker IN (SELECT maker
                FROM printer pr INNER JOIN product ON pr.model = product.model

                WHERE price =
                      (SELECT min(price)
                       FROM printer));
        
#3
SELECT
  round(avg(pr.price))
FROM printer pr INNER JOIN product ON pr.model = product.model
WHERE price =
      (SELECT max(price)
       FROM printer) AND
      product.maker IN (SELECT maker
                        FROM laptop l NATURAL JOIN product
                        WHERE ram = (SELECT max(ram)
                                     FROM laptop));

## NoSQL

##### Відповідь до кожного завдання у цьому розділі записувати в наступну пусту строку в форматі MongoDB NoSQL запиту. Тобто: 
```
db.[collection_name].[action](query_params, ..).
```

Структура документу в колекції restaurants:
```
{
  "address": {
     "building": "1007",
     "coord": [ -73.856077, 40.848447 ],
     "street": "Morris Park Ave",
     "zipcode": "10462"
  },
  "borough": "Bronx",
  "cuisine": "Bakery",
  "grades": [
     { "date": { "$date": 1393804800000 }, "grade": "A", "score": 2 },
     { "date": { "$date": 1378857600000 }, "grade": "A", "score": 6 },
     { "date": { "$date": 1358985600000 }, "grade": "A", "score": 10 },
     { "date": { "$date": 1322006400000 }, "grade": "A", "score": 9 },
     { "date": { "$date": 1299715200000 }, "grade": "B", "score": 14 }
  ],
  "name": "Morris Park Bake Shop",
  "restaurant_id": "30075445"
}
```

**Дамп: [restaurants.json](https://github.com/dataroot/DRU-DS100-w3/tree/master/tests/3/v1/restaurants.json)**.

Приклад:
```
Питання:
Напишіть запит MongoDB, щоб відобразити всі документи в колекції restaurants.
```
```
Відповідь:
db.restaurants.find();
```

### 21. Напишіть запит MongoDB, щоб відобразити поля restaurant_id, name, borough та cuisine, але виключіть поле _id для всіх документів в колекції restaurants.
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
db.restaurants.find({}, {'restaurant_id':1, 'name':1, 'borough':1, 'cuisine':1, _id=0})

### 22. Напишіть запит MongoDB, щоб знайти ресторани, які досягли балів, більше 80, але менше 100.
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
db.restaurants.find({grades: {$elemMatch:{'score':{$gt: 80, $lt:100}}}});

### 23. Напишіть запит MongoDB, щоб знайти ресторани, що належать до району Bronx, та готують американську або китайську страви.
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
db.restaurants.find({"borough":"Bronx", $or:[{"cuisine":"American "}, {"cuisine":"Chinese"}]});

### 24. Наведіть приклад корисного aggregate запиту для колекції restaurants та поясніть його.
```
```
```
```
```
```
```
Максимальна оцінка: 6 балів
Рекомендований час: 10хв
```